<app-create-user-modal 
    (close)="onCreateUserModalClose()"
    [display]="isDisplayCreateUserModal"
    (createUser)="onCreateUserModalSubmit($event)"
></app-create-user-modal>
<app-delete-user-modal
    (close)="onDeleteUsersModalClose($event)"
    [display]="isDisplayDeleteUsersModal"
    [countRows]="countDeleteRows"
></app-delete-user-modal>
<app-update-user-modal
    (close)="onUpdateUserModalClose()"
    [display]="isDisplayUpdateUsersModal"
    [user]="selectedUser"
    (updateUser)="onUpdateUserModalSubmit($event)"
></app-update-user-modal>

<table class="table__container">

    <header class="table__header">
        <div>
            <app-icon-button 
                (click)="addUserClick()"
            >
                <img src="assets/img/plus.svg" alt="Add">
            </app-icon-button>
            <app-icon-button 
                (click)="deleteUsersClick()"
            >
                <img src="assets/img/delete.svg" alt="Del">
            </app-icon-button>
        </div>
        <div>
            <app-icon-button
                (click)="saveUsers()"
            >
                <img src="assets/img/save.svg" alt="save">
            </app-icon-button>
            <app-icon-button
                (click)="deleteStoredUsers()"
            >
                <img src="assets/img/delete-stored-users.svg" alt="del-stored-users">
            </app-icon-button>
        </div>
    </header>

    <tr class="table__columns">
        <th>
            <input 
                type="checkbox" 
                [indeterminate]="isIndeterminate()"
                (change)="checkAllRows($any($event.target).checked)"
            >
        </th>
        <th 
            (click)="sortTable('name')"
        >
            <span>Имя</span>
            <img 
                src="assets/img/sort.svg" 
                alt="Sort"
                class="table__columns-sort-icon"
            >
        </th>
        <th 
            (click)="sortTable('surname')"
        >
            <span>Фамилия</span>
            <img 
                src="assets/img/sort.svg" 
                alt="Sort"
                class="table__columns-sort-icon"
            >
        </th>
        <th 
            (click)="sortTable('email')"
        >
            <span>Email</span>
            <img 
                src="assets/img/sort.svg" 
                alt="Sort"
                class="table__columns-sort-icon"
            >
        </th>
        <th 
            (click)="sortTable('phone')"
        >
            <span>Телефон</span>
            <img 
                src="assets/img/sort.svg" 
                alt="Sort"
                class="table__columns-sort-icon"
            >
        </th>
    </tr>
    @for (user of users; track user) {
        <app-table-row 
            [user]="user"
            (selectChange)="onSelectChange()"
            (updateUser)="onRowClick($event)"
        ></app-table-row>
    }
</table>